@use "../../Foundation/variable" as *;

.c-title__site-title{
    font-size: 40px;
    margin-bottom: 38px;
    transition: all 0.2s;
    color: $gray;       

    a{
        color: $gray;
        font-family: $title-font;
    }

    @include breakpoint(pc){
        margin-bottom: 0;
        font-size: 64px;
        transition: all 0.2s;
    }
}

.c-title__mainvisual{
    font-size: 36px;
    color: $white;
}
.c-title__contents{
    font-size: 22px;
    font-weight: bold;
}
.c-title__item{
    font-size: 20px;
    font-weight: bold;
    color: $white;

    @include breakpoint(tpc){
        font-size: 36px;
    }
}
.c-title__articles-h2{
    font-size: 28px;
    font-weight: bold;
    color: $brown;

}
.c-title__articles-h3{
    font-size: 24px;
    font-weight: bold;
    color: $brown;
}

.c-title__articles-h456{
    font-size: 20px;
    font-weight: bold;
    color: $brown;

}

.c-title__text{
    color: $white;
    font-size: 16px;
    font-weight: bold;
    font-family: $text-font;
}
.c-title__sidebar{
    display: none;
    font-size: 34px;
    color: $gray;
    font-family: $title-font;

    @include breakpoint(pc){
        display: block;
    }
}